.general__section {
    background-image: url('/images/national-programs-background.jpg');
    background-size: cover;
    background-position: center center;
}

.general__container {
    width: 90%;
    max-width: 1100px;
    padding: 20px;
}

.general__projects {
    width: 450px;
    float: left;
    margin: 30px 0px 50px;
}

.general__content {
    width: 500px;
    float: right;
}

.general__projects-label {
    color: white;
    font-style: italic;
    margin-top: 5px;
    margin-bottom: 10px;
}

.general__project-container {
    cursor: pointer;
    width: 100%;
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
}

.general__project {
    overflow: hidden;
}

.general__project::hover {
    background-color: $hover-color;
    transition-duration: .25s
}

.general__project-info {
    margin: 25px 30px 20px;
}

.general__icon {
    float: left;
    max-height: 50px;
    max-width: 50px;
    margin-right: 40px;
}

.general__icon-special {
    margin-top: 10px;
}

.general__project-name {
    color: $dark-grey;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    line-height: 50px;
    height: 50px;
}

.general__title {
    margin-top: 120px;
    margin-bottom: 25px;
    color: white;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: .5px;
}

.general__text {
    font-size: 16px;
    line-height: 28px;
    color: white;
}

@media(max-width:1200px) {
    .general__title {
        font-size: 28px;
        margin-top: 140px;
    }
    .general__text {
        font-size: 14px;
        line-height: 24px;
    }
    .general__project-name {
        font-size: 14px;
    }
    .general__icon {
        max-height: 40px;
        max-width: 40px;
        margin-right: 25px;
    }
    .general__project-info {
        margin: 15px 20px 10px;
    }
    .general__projects {
        width: 370px;
    }
}

@media(max-width:1055px) {
    .general__projects {
        float: none;
        margin: 50px auto;
        order: 1
    }
    .general__content {
        float: none;
        width: 100%;
    }
    .general__container {
        margin: 0 auto;
        display: flex;
        flex-flow: column;
    }
    .general__title {
        margin-top: 35px;
    }
}

@media(max-width:992px) {
    .general__text {
        font-size: 16px;
        line-height: 28px;
    }
    .general__container {
        width: 95%;
    }
    .general__icon {
        width: 40px;
        max-height: 50px;
        max-width: 50px;
    }
}

@media (max-width: 544px) {
    .general__container {
        width: 100%;
    }
    .general__content {
        width: 90%;
        margin: 0 auto;
    }
    .general__title {
        line-height: 40px;
    }
    .general__projects {
        width: 90%;
        margin: 40px auto;
    }
}

@media (max-width: 435px) {
    .general__project-name {
        margin: 25px 0 0;
        line-height: 1.3;
    }
}